[flake8]
ignore =
    # 1 blank line required before class docstring
    D203,
    # black
    E203, E266, E501, W503

max-line-length = 80
max-complexity = 18
select = B,C,E,F,W,T4,B9

exclude =
    build,
    dist,
    __pycache__,
    *.pyc,
    .git,
    .tox,
    venv,
    ENV
