/* General environment setup */
html {
  background-color: black;
  height: 100%;
}
body {
  font-size: 120%;
  width: 20em;
  padding: 1em 2em;
  margin: 0 auto;
  background-color: white;
  height: 100%;
}

/* Tab style starts here */
.tabbed-alternate {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1em 0;
  border-radius: 0.1rem;
}

.tabbed-alternate > input {
  display: none;
}

.tabbed-labels {
  display: flex;
  width: 100%;
  overflow: auto;
  box-shadow: 0 -0.1rem #ddd inset;
  scrollbar-width: none;
}
.tabbed-labels::-webkit-scrollbar {
  display: none;
}
.tabbed-labels > label {
  width: auto;
  padding: 0.9375em 1.25em 0.78125em;
  font-weight: 700;
  font-size: 0.84em;
  white-space: nowrap;
  border-bottom: 0.1rem solid transparent;
  scroll-snap-align: start;
  border-top-left-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
  cursor: pointer;
  transition: background-color 250ms, color 250ms;
}
.tabbed-labels > label:hover {
  color: red;
}

.tabbed-labels.tabbed-scroll-left::before {
  display: inline-block;
  font-size: 0.9em;
  position: absolute;
  top: 0.75em;
  left: 0;
  padding-right: 0.64em;
  color: gray;
  background: linear-gradient(to right, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0));
  content: "\25C0";
  cursor: pointer;
}

.tabbed-labels.tabbed-scroll-right::after {
  display: inline-block;
  font-size: 0.9em;
  position: absolute;
  top: 0.75em;
  right: 0;
  padding-left: 0.64em;
  color: gray;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 25%);
  content: "\25B6";
  cursor: pointer;
}

.tabbed-alternate .tabbed-content {
  width: 100%;
}
.tabbed-alternate input:nth-child(1):checked ~ .tabbed-content > :nth-child(1),
.tabbed-alternate input:nth-child(2):checked ~ .tabbed-content > :nth-child(2),
.tabbed-alternate input:nth-child(3):checked ~ .tabbed-content > :nth-child(3) {
  display: block;
}
.tabbed-alternate .tabbed-block {
  display: none;
}
@media screen {
  .tabbed-alternate input:nth-child(1):checked ~ .tabbed-labels > :nth-child(1),
  .tabbed-alternate input:nth-child(2):checked ~ .tabbed-labels > :nth-child(2),
  .tabbed-alternate input:nth-child(3):checked ~ .tabbed-labels > :nth-child(3) {
    color: red;
    border-color: red;
  }
}
@media print {
  .tabbed-labels {
    display: contents;
  }
  .tabbed-labels > label:nth-child(1) {
    order: 1;
  }
  .tabbed-labels > label:nth-child(2) {
    order: 2;
  }
  .tabbed-labels > label:nth-child(3) {
    order: 3;
  }

  .tabbed-alternate .tabbed-content {
    display: contents;
  }
  .tabbed-alternate .tabbed-block {
    display: block;
  }
  .tabbed-alternate .tabbed-block:nth-child(1) {
    order: 1;
  }
  .tabbed-alternate .tabbed-block:nth-child(2) {
    order: 2;
  }
  .tabbed-alternate .tabbed-block:nth-child(3) {
    order: 3;
  }
}
